{% extends "admin/base.html" %}
{% load bootstrap %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="/assets/css/jquery.datetimepicker.css" />
  
{% endblock %}
{% block content %}

<div class='row'>
 <div class='col-md-10 col-md-offset-1'>
    <div class='well well-small'> 
        {% if page.title %}
        Editing <a href='{{ page.get_request_path }}'>{{ page.title }}</a>
        {% else %}
           Add new entry
        {% endif %}
    </div>
        
  <form role='form' method='post'>
    <div class="form-group">
          {{ form.title|bootstrap }}
    </div>
    <div class="form-group">
          {{ form.content|bootstrap }}
    </div>
 </div>  



{% endblock %}

{% block js %}
 {{ block.super }}
   <script type="text/javascript" src="/assets/ckeditor/ckeditor.js"></script>
   <script type="text/javascript" src="/assets/js/jquery.datetimepicker.js"></script>
   <script type="text/javascript" src="/assets/js/page-editor.js"></script>
   
{% endblock %}

{% block footer %}
{% endblock %}
